.Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0 0;
}

.Input {
  width: 400px;
  padding: 5px;
  font-size: 1rem;
  outline: 0;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  text-align: center;
}

.Input:focus {
  color: #FA57ED; /* Standard syntax; must be last */
  border-bottom: solid 2px #969696;
}

.InputOwner {
  border: none;
  font-size: 3rem;
  text-transform: uppercase;
  background-image: linear-gradient(0deg, #FACE75 0%, #F1E57A 100%); /* Standard syntax; must be last */
  background-image: -webkit-linear-gradient(0deg, #FACE75 0%, #F1E57A 100%); /* For Chrome and Safari */
  background-image: -moz-linear-gradient(0deg, #FACE75 0%, #F1E57A 100%); /* For old Fx (3.6 to 15) */
  background-image: -ms-linear-gradient(0deg, #FACE75 0%, #F1E57A 100%); /* For pre-releases of IE 10*/
  background-image: -o-linear-gradient(0deg, #FACE75 0%, #F1E57A 100%); /* For old Opera (11.1 to 12.0) */
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;

}

.Title {
  font-size: 3rem;
  text-transform: uppercase;
  background-image: linear-gradient(0deg, #FACE75 0%, #F1E57A 100%); /* Standard syntax; must be last */
  background-image: -webkit-linear-gradient(0deg, #FACE75 0%, #F1E57A 100%); /* For Chrome and Safari */
  background-image: -moz-linear-gradient(0deg, #FACE75 0%, #F1E57A 100%); /* For old Fx (3.6 to 15) */
  background-image: -ms-linear-gradient(0deg, #FACE75 0%, #F1E57A 100%); /* For pre-releases of IE 10*/
  background-image: -o-linear-gradient(0deg, #FACE75 0%, #F1E57A 100%); /* For old Opera (11.1 to 12.0) */
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.Link {
  text-decoration:none;
  cursor:pointer;
  font-size: 2rem;
  background-image: linear-gradient(0deg, #E57A7E 0%, #EDD1E5 100%); /* Standard syntax; must be last */
  background-image: -webkit-linear-gradient(0deg, #E57A7E 0%, #EDD1E5 100%); /* For Chrome and Safari */
  background-image: -moz-linear-gradient(0deg, #E57A7E 0%, #EDD1E5 100%); /* For old Fx (3.6 to 15) */
  background-image: -ms-linear-gradient(0deg, #E57A7E 0%, #EDD1E5 100%); /* For pre-releases of IE 10*/
  background-image: -o-linear-gradient(0deg, #E57A7E 0%, #EDD1E5 100%); /* For old Opera (11.1 to 12.0) */
  color:transparent;
  -webkit-background-clip: text;
}
